<div class="footer hidden-480">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content" style="padding-top: 7px">
            <p>
                <span style="float: right; font-size:13px; padding-top: 2px; font-weight: 900; font-family: Arial, Helvetica, sans-serif; color: #1A1B1F">
                    @*&nbsp;&nbsp;*@SICRAM
                </span>

                <span class="action-buttons">
                    <a style="float: right">
                        @*<img src="~/Content/Images/HxGN.png" style="height: 35px" />*@
                    </a>
                </span>

                <span style="float: right; font-size:13px; padding-top: 3px; font-weight: 600; color: rgba(128, 128, 128, 0.75); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    <i class="ace-icon fa fa-caret-right" style="color: #27A7C3"></i>&nbsp;&nbsp;SESMT-TECNOLÓGICO&#174; @System.Configuration.ConfigurationManager.AppSettings["SPF:Versao"]&nbsp;
                </span>

            </p>
        </div>
    </div>
</div>
