@model GISModel.Entidades.PlanoDeAcao
    @{
        ViewBag.Title = "Cadastro de Plano de Ação";
    }

    <div id="formCadEvento">
        <div class="row">
            <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                <div class="page-header">
                    <h1>
                        Cadastro de Plano de Ação
                    </h1>
                </div>
            </div>
        </div>

        @using (Ajax.BeginForm("Cadastrar", "PlanoDeAcao", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarPlanoDeAcao", }, new { @id = "formCadastroPlanoDeAcao", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(d => d.DescricaoDoPlanoDeAcao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.DescricaoDoPlanoDeAcao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                            @Html.ValidationMessageFor(d => d.DescricaoDoPlanoDeAcao, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    <button class="btn btn-info" id="btnSalvar" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Salvar
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Limpar
                    </button>
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        }


    </div> <!-- Fim FormQuery -->


    @section Scripts {

        <script src="~/Scripts/Custom/PlanoDeAcao/Novo.js"></script>


    }


























